<div class="r">
    <ul class="search1">
            <form action="{cms_abs}index.php" method="get"  onsubmit="if(document.getElementById('searchword').value=='' || document.getElementById('searchword').value=='ÇëÊäÈë¹Ø¼ü×Ö'){alert('ÇëÊäÈë¹Ø¼ü×Ö');document.getElementById('searchword').focus();return false;} ">
                <li class="keyword1">
                    <input type="hidden" name="caid" value="516" />
                    <div class="ie6_7_martop_d1">
                        <input class="input_bor" id="searchword" type="text" name="searchword"  value="{if !$aid}{if $searchword}{searchword}{else}ÇëÊäÈë¹Ø¼ü×Ö{/if}{else}ÇëÊäÈë¹Ø¼ü×Ö{/if}" onblur="if(this.value.match(/^\s*$/)){this.value = 'ÇëÊäÈë¹Ø¼ü×Ö'}" onfocus="if(this.value == 'ÇëÊäÈë¹Ø¼ü×Ö'){this.value = ''}"/>
                    </div>
                </li>
                <li>
                    <input class="input_bg2" value="" type="submit" />
                </li>
            </form>
        </ul>
        
    <script type="text/javascript">
    $('#caid{c$top_list_id [cname=¶¥¼¶À¸Ä¿id/] [tclass=cnode/] [listby=ca/] [casource=active/] [level=1/]}{caid}{/c$top_list_id}').click();
   
   </script>
  </div>