<footer>
        <a class="{if $caid==612}active{/if}" href="{c$cnode [tclass=cnode/] [listby=ca/] [casource=612/]}{indexurl}{/c$cnode}"><i class="icon-e618"></i>Ğ´×ÖÂ¥ÅÌ</a>
        <a class="{if $caid==613}active{/if}" href="{c$cnode [tclass=cnode/] [listby=ca/] [casource=613/]}{indexurl}{/c$cnode}"><i class="icon-e637"></i>ÂòĞ´×ÖÂ¥</a>
        <a class="{if $caid==614}active{/if}" href="{c$cnode [tclass=cnode/] [listby=ca/] [casource=614/]}{indexurl}{/c$cnode}"><i class="icon-e635"></i>×âĞ´×ÖÂ¥</a>
        <a class="menu"><i class="icon-e634"></i>¸ü¶à</a>
    </footer>
{tpl$m_header}